<html ng-app="app">

<head>
  <meta charset="utf-8">
  <title>first controller</title>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="stura as stura">

  <div class="form-inline">

    <div class="form-group">
      <input class="form-control" ng-model="query">
      <input class="form-control" ng-model="strict" type="checkbox">
    </div>

  </div>

  <hr>

  <a ng-click="criteria='name';reverse=false" href="">Sortiere nach Namen aufsteigend</a> |
  <a ng-click="criteria='name';reverse=true" href="">Sortiere nach Namen absteigend</a> |
  <a ng-click="criteria='role';reverse=true" href="">Sortiere nach Rolle absteigend</a>

  <ul>
    <li ng-repeat="member in stura.members | filter:query:strict | orderBy:criteria:reverse">
      <p>
        <strong>{{ member.name }}</strong>
        <small>{{ member.role }}</small>
      </p>
    </li>
  </ul>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="stura.js"></script>
</body>

</html>
