<html ng-app>

<head>
  <meta charset="utf-8">
  <title>first controller</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-init="stuRa = [{name:'Ferdinand Malcher',role:'Vorsitzender'},{name:'Danny Koppenhagen',role:'Referatsleiter Betreuung'},{name:'Thomas Körner',role:'Sportreferent'},{name:'Arjuna Wolfsteller',role:'Sportreferent'},{name:'Marcel Krüger',role:'Referat Betreuung'},{name:'Tom Gutbier',role:'Referat Betreuung'},{name:'Martin Lütticke',role:'Referat Betreuung'},{name:'Gregor Woiwode',role:'Referat Betreuung'},{name:'René Müller',role:'Referat Hochschulpolitik'},{name:'Robert Weise',role:'Referat Hochschulpolitik'},{name:'Carl-Theodor Geilhufe',role:'Referat Hochschulpolitik'},{name:'Steven England',role:'Referat Hochschulpolitik'},{name:'Philip Dockhorn',role:'Referat Technik'},{name:'Mario Hoffmann',role:'Referat Technik'},{name:'Sven Rocho',role:'Referat Technik'},{name:'Alexander Scholz',role:'Referatsleiter Finanzen'},{name:'Sebastian Stoll',role:'Referat Finanzen'}];
">

  <div class="form-inline">

    <div class="form-group">
      <input class="form-control" ng-model="query">
      <input class="form-control" ng-model="strict" type="checkbox">
    </div>

  </div>

  <hr>

  <a ng-click="criteria='name';reverse=false" href="">Sortiere nach Namen aufsteigend</a> |
  <a ng-click="criteria='name';reverse=true" href="">Sortiere nach Namen absteigend</a> |
  <a ng-click="criteria='role';reverse=true" href="">Sortiere nach Rolle absteigend</a>

  <ul>
    <li ng-repeat="member in stuRa | filter:query:strict | orderBy:criteria:reverse">
      <p>
        <strong>{{ member.name }}</strong>
        <small>{{ member.role }}</small>
      </p>
    </li>
  </ul>
  <script src="../bower_components/angular/angular.js"></script>
  <script>
    (function() {
      'use strict';

      var meiner = 1;
    }());
  </script>
</body>

</html>

<!-- Introducing Iife -->
